@import './reset/reset';
@import './mixins/mixin';
@import './menu/menu';
@import './block-hotter/block-hotter';
@import './popup-menu/popup.menu';

.wrapper-content {
   overflow: hidden;
}

.hero {
   padding: 40px 0px 129px;
   width: 100%;

   @include mq (lg) {
      padding: 20px 0 60px 0px;
   }

   &__content {
      width: 100%;
      margin-bottom: 115px;

      @include mq (lg) {
         margin-bottom: 50px;
      }
   }

   &__content-inner {
      max-width: 1240px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: end;

      @include mq (xl) {
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
      }

      @include mq (lg) {
         padding: 0 15px;
      }
   }

   &__desc {
      max-width: 482px;
      width: 100%;
      padding-right: 50px;

      @include mq (xl) {
         max-width: 100%;
         padding-right: 0px;
         margin-bottom: 60px;
      }

      @include mq (md) {
         margin-bottom: 35px;
      }
   }

   &__title {
      position: relative;
      font-family: var(--Bai-Jamjuree-ss);
      font-weight: var(--fw-700);
      font-size: var(--text-80);
      line-height: var(--lh-80);
      letter-spacing: -0.01em;
      color: var(--black-400);
      margin-bottom: 48px;
      z-index: 4;
      display: block;

      @include mq (xl) {
         text-align: center;
         font-size: var(--text-70);
         line-height: var(--lh-62);
         margin-bottom: 35px;
      }

      @include mq (md) {
         font-size: var(--text-60);
         line-height: var(--lh-54);
         margin-bottom: 20px;
      }

      @include mq (sm) {
         font-size: var(--text-52);
         line-height: var(--lh-54);
         margin-bottom: 20px;
      }

      &::before {
         content: '';
         position: absolute;
         width: 210px;
         height: 68px;
         border: 4px solid #FF8A1F;
         left: -9px;
         bottom: -5px;
         border-radius: 48%;
         z-index: -1;

         @include mq (xl) {
            display: none;
         }
      }


   }

   &__text {
      max-width: 280px;
      width: 100%;
      font-family: var(--roboto-ss);
      font-weight: var(--fw-400);
      font-size: var(--text-18);
      line-height: var(--lh-30);
      letter-spacing: 0.01em;
      color: var(--gray-850);
      margin-bottom: 40px;

      @include mq (xl) {
         max-width: 100%;
         text-align: center;

         @include mq (md) {

            margin-bottom: 20px;
         }
      }
   }

   &__btn-w {
      display: flex;
      align-items: center;

      @include mq (xl) {
         justify-content: center;
      }
   }

   &__btn {
      width: 50px;
      height: 50px;
      background: #222223;
      box-shadow: 0px 10px 30px rgba(206, 206, 206, 0.6);
   }

   &__btn-icon-arrow {}

   &__btn-desc {
      font-family: var(--roboto-ss);
      font-weight: var(--fw-500);
      font-size: var(--text-19);
      line-height: var(--lh-19);
      letter-spacing: 0.01em;
      color: var(--black-400);
      margin-left: 18px;
   }

   &__card {
      position: relative;
      max-width: 675px;
      width: 100%;
      min-height: 327px;
      background: linear-gradient(90deg, rgba(68, 178, 241, 1) 67%, rgba(250, 196, 34, 1) 67%);
      background-size: cover;
      display: flex;
      justify-content: flex-end;

      @include mq (md) {
         flex-direction: column;
         justify-content: flex-start;
         background: linear-gradient(106.01deg, #80D1FF 0%, #44B2F1 69.58%);
      }
   }

   &__bank-card-img {
      position: absolute;
      left: 61px;
      top: -86px;
      transform: translateY(0px) rotate(64deg);

      @media (max-width:1150px) {
         width: 200px;
      }

      @media (max-width:1100px) {
         width: 170px;
      }

      @media (max-width:1060px) {
         width: 150px;
         left: 25px;
         top: -55px;
      }

      @include mq (xl) {
         width: 200px;
         left: 12%;
         top: -15px;
      }

      @media (max-width:620px) {
         width: 170px;
         left: 14%;
         top: 0px;
      }

      @include mq (md) {
         width: 200px;
         position: relative;
         transform: translate(-50%) rotate(90deg);
         object-fit: cover;
         left: 50%;
         top: -50px;
      }

      @include mq (sm) {
         width: 170px;
         top: -40px;

      }
   }

   &__text-circle-img {
      position: absolute;
      width: 96px;
      height: 96px;
      bottom: 35px;
      right: 39%;

      @media (max-width:1100px) {
         right: 55%;
      }

      @include mq (xl) {
         right: 39%;
         bottom: 20px;
      }

      @include mq (md) {
         top: 40%;
         left: 50%;
         transform: translateX(-50%);
      }

      @include mq (sm) {
         top: 38%;
         width: 80px;
         height: 80px;

      }
   }

   &__card-btns {
      padding: 60px 45px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 20px;
      grid-column-gap: 28px;
      background: linear-gradient(201.5deg, #FFD968 4.52%, #FAC422 102.63%);

      @media (max-width:620px) {
         padding: 60px 25px;
      }

      @include mq (md) {
         grid-template-columns: repeat(3, 55px);
         justify-content: center;
         grid-row-gap: 40px;
         grid-column-gap: 40px;
         padding: 30px 30px;
      }

   }

   &__card-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      background: #F9FDFF;
      box-shadow: 0px 12px 20px rgba(216, 166, 20, 0.31);
      border-radius: 20px;

      &--bg-black {
         background-color: var(--black-400);
      }

   }

   &__card-btn-icon {}


   &__bottom {
      width: 100%;
   }

   &__bottom-inner {
      max-width: 1240px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include mq (xl) {
         flex-direction: column;
         align-items: center;
      }

      @include mq (lg) {
         padding: 0 15px;
      }
   }


   &__bottom-block-hotter {}

   &__bottom-block {
      max-width: 188px;
      width: 100%;

      @media (max-width:640px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__bottom-right-blocks {
      max-width: 840px;
      width: 100%;
      padding-left: 60px;
      display: flex;
      justify-content: space-between;

      @include mq (xl) {
         padding: 0;
      }

      @media (max-width:640px) {
         flex-direction: column;
         align-items: center
      }
   }

   &__bottom-block-img {
      margin-bottom: 30px;
   }

   &__bottom-block-title {
      font-family: var(--inter-ss);
      font-weight: var(--fw-700);
      font-size: var(--text-20);
      line-height: var(--lh-28);
      letter-spacing: 0.01em;
      color: var(--black-250);
      margin-bottom: 18px;
   }

   &__bottom-block-text {
      font-family: var(--roboto-ss);
      font-weight: var(--fw-400);
      font-size: var(--tetx-16);
      line-height: var(--lh-26);
      color: var(--black-250);
      letter-spacing: 0.01em;
      color: var(--gray-800);
   }



}


.header {
   margin-bottom: 98px;

   @include mq (lg) {
      margin-bottom: 60px;

   }

   @include mq (md) {
      margin-bottom: 40px;

   }

   &__inner {
      max-width: 1240px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mq (lg) {
         padding: 0 15px;
      }
   }

   &__menu {
      @include mq (lg) {
         display: none;
      }
   }

   &__nav {}

   &__nav-list {
      display: flex;
      align-items: center;
   }

   &__nav-list-item {
      &:not(:last-child) {
         margin-right: 45px;
      }
   }

   &__nav-item-link {}

   &__logo {
      padding-right: 150px;

      @include mq (lg) {
         padding: 0;
      }
   }

   &__logo-icon {
      width: 83px;
      height: 15px;

      @include mq (lg) {
         padding: 0;
         width: 100px;
         height: 30px;
      }
   }

   &__burger {
      width: 40px;
      height: 30px;
      position: relative;
      display: none;

      &::before,
      &:after {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: var(--black-500);
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

      @include mq (lg) {
         display: block;
      }
   }

   &__burger-line {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--black-500);
      top: 50%;
      transform: translateY(-50%);
   }


   &__basket-btn {
      background-color: transparent;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1.4px solid #DFDFDF;

   }

   &__basket-icon {}
}



.logo {

   &__icon {}
}

.main {}

.desc {
   width: 100%;
   position: relative;
   background: rgba(82, 192, 255, 0.28);
   padding: 134px 0px;

   @media (max-width:640px) {
      padding: 40px 0px;
   }

   &::before {
      content: '';
      position: absolute;
      width: 70px;
      height: 70px;
      background: url(/src/img/circle.png) no-repeat;
      left: 50%;
      top: -36px;
      transform: translateX(-50%);
   }

   &__inner {
      max-width: 1240px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      @include mq (lg) {
         padding: 0 15px;
      }

   }

   &__items {
      max-width: 826px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media (max-width:640px) {
         flex-direction: column;
         align-items: center
      }
   }

   &__block {
      max-width: 264px;
      width: 100%;

      &:first-child {
         max-width: 258px;

         @media (max-width:640px) {
            margin-bottom: 40px;
         }
      }
   }

   &__block-title {
      font-family: var(--Bai-Jamjuree-ss);
      font-weight: var(--fw-500);
      font-size: var(--text-30);
      line-height: var(--lh-38);
      color: var(--black-250);
      color: #202020;
      margin-bottom: 16px;

      @media (max-width:640px) {
         text-align: center;
      }
   }

   &__block-text {
      font-family: var(--roboto-ss);
      font-weight: var(--fw-400);
      font-size: var(--tetx-16);
      line-height: var(--lh-26);
      letter-spacing: 0.02em;
      color: var(--gray-800);

      @media (max-width:640px) {
         text-align: center;
      }
   }
}

.testimional {
   width: 100%;
   padding: 131px 0px 122px;


   @include mq (xl) {
      padding: 60px 0px;
   }

   @include mq (lg) {
      padding: 40px 0px;
   }


   &__inner {
      max-width: 1130px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mq (lg) {
         padding: 0 15px;
      }
   }

   &__desc {
      width: 100%;
      margin-bottom: 91px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mq (lg) {
         margin-bottom: 60px;
      }

      @include mq (sm) {
         margin-bottom: 30px;
      }
   }

   &__title {
      font-family: var(--Bai-Jamjuree-ss);
      font-weight: var(--fw-700);
      font-size: var(--text-80);
      line-height: var(--lh-80);
      color: var(--black-250);
      margin-bottom: 16px;
      text-align: center;
      letter-spacing: 0.01em;
      color: var(--black-100);

      @include mq (xl) {
         font-size: var(--text-70);
         line-height: var(--lh-70);
      }

      @include mq (lg) {
         font-size: var(--text-60);
         line-height: var(--lh-62);
      }
   }

   &__text {
      max-width: 680px;
      width: 100%;
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-400);
      font-size: var(--tetx-16);
      line-height: var(--lh-28);
      letter-spacing: 0.02em;
      color: var(--gray-800);
      text-align: center;
   }

   &__table {
      position: relative;
      width: 100%;
      display: flex;

      @include mq (lg) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         border-left: 1px solid #909C92;
      }

      // border-top: 2px solid 
      &::before,
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 1.5px;
         background: linear-gradient(90deg, rgba(144, 156, 146, 0.9473039215686274) 39%, rgba(144, 156, 146, 0) 100%);
         left: 0;

         @include mq (lg) {
            background: linear-gradient(90deg, rgba(144, 156, 146, 0) 0%, rgba(144, 156, 146, 0.9473039215686274) 0%);
         }
      }

      &::after {
         bottom: 0;
      }

   }

   &__table-block {
      padding: 70px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;



      &:not(:last-child)::after {
         content: '';
         position: absolute;
         height: 100%;
         width: 1.2px;
         background-color: #909C92;
         right: 0;
         top: 0;

      }

      @include mq (lg) {
         &:last-child::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 1.2px;
            background-color: #909C92;
            right: 0;
            top: 0;
         }

         &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1.2px;
            background-color: #909C92;
            right: 0;
            bottom: 0;
         }
      }


   }

   &__table-block-title {
      font-family: var(--inter-ss);
      font-weight: var(--fw-500);
      font-size: var(--text-16);
      line-height: var(--lh-20);
      letter-spacing: 4px;
      color: var(--gray-700);
      margin-bottom: 11px;

      @include mq (sm) {
         font-size: var(--text-14);
         line-height: var(--lh-18);
      }
   }

   &__table-block-count {
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-500);
      font-size: var(--text-25);
      line-height: var(--lh-40);
      text-align: center;
      letter-spacing: 0.01em;
      color: var(--black-500);
      text-align: center;

      @include mq (sm) {
         font-size: var(--text-22);
         line-height: var(--lh-18);
      }
   }
}

.feature {
   padding: 56px 0px 122px;

   @include mq (lg) {
      padding: 0px 0px 20px 0px;
   }

   &__inner {
      max-width: 1266px;
      padding: 100%;
      padding: 0px 20px 0px 107px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @include mq (xl) {
         flex-direction: column-reverse;
         align-items: center;

         @include mq (xl) {
            padding: 0 20px 0px 20px;
         }

         @include mq (xl) {
            padding: 0 15px 0px 15px;
         }
      }

   }

   &__card-w {
      max-width: 568px;
      width: 100%;
      height: 507px;
      background: #CFEDFF;
      position: relative;

      @include mq (xl) {
         max-width: 100%;
         height: auto;
         padding: 10px 0px;
         display: flex;
         justify-content: center;
      }

      @include mq (lg) {
         height: auto;
         padding: 10px 0px;
      }
   }

   &__card-img {
      max-width: calc(500px + (650 - 500) *((100vw - 992px) /(1200 - 992)));
      position: absolute;
      left: -110px;
      top: 42px;
      border-radius: 20px;

      @include mq (xl) {
         position: relative;
         max-width: 100%;
         left: -15px;
         top: auto;
      }

   }

   &__desc {
      max-width: 488px;
      width: 100%;
      padding-left: 30px;

      @include mq (xl) {
         padding: 0;
         max-width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;

      }

      @include mq (lg) {
         margin-bottom: 10px;
      }

   }

   &__desc-top {
      margin-bottom: 65px;

      @media (max-width:1057px) {
         margin-bottom: 30px;
      }

   }

   &__title {
      font-family: var(--Bai-Jamjuree-ss);
      font-weight: var(--fw-600);
      font-size: var(--text-52);
      line-height: var(--lh-62);
      color: var(--black-250);
      letter-spacing: 0.01em;
      color: var(--black-150);
      margin-bottom: 30px;

      @media (max-width:1057px) {
         margin-bottom: 20px;
         font-size: var(--text-46);
         line-height: var(--lh-54);
         text-align: center;
      }
   }

   &__text {
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-400);
      font-size: var(--text-16);
      line-height: var(--lh-28);
      letter-spacing: 0.01em;
      color: var(--gray-750);

      @media (max-width:1057px) {
         text-align: center;
      }
   }

   &__desc-bottom {
      @media (max-width:1057px) {
         display: flex;
         justify-content: space-around;
      }

      @include mq (lg) {
         flex-direction: column;
      }
   }

   &__desc-block {
      display: flex;

      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }


   &__desc-block-img-w {
      width: 60px;
      height: 58px;
      display: flex;
      align-items: center;
      overflow: hidden;
   }

   &__desc-block-img {
      width: 60px;
      height: 58px;
   }

   &__desc-block-content {
      max-width: 286px;
      width: 100%;
      margin-left: 30px;
      padding-top: 7px;
   }

   &__desc-block-title {
      font-family: var(--Bai-Jamjuree-ss);
      font-weight: var(--fw-600);
      font-size: var(--text-20);
      line-height: var(--lh-28);
      color: #222222;
      margin-bottom: 9px;
   }

   &__desc-block-text {
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-400);
      font-size: var(--text-15);
      line-height: var(--lh-27);
      color: var(--gray-750);
   }
}

.newsletter {
   width: 100%;
   padding: 114px 0px 168px 0px;
   background: #41B3F4;

   @include mq (lg) {
      padding: 30px 0px;
   }

   &__inner {
      position: relative;
      max-width: 1130px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;

      @include mq (xl) {
         flex-direction: column;
      }

      @include mq (lg) {
         padding: 0 15px;
      }
   }

   &__content {
      max-width: 714px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mq (xl) {
         max-width: 100%;
      }
   }

   &__block-introduction {
      padding-top: 20px;
      position: relative;
      max-width: 203px;
      width: 100%;

      @media (max-width:1030px) {
         max-width: 170px;
      }

      @include mq (xl) {
         position: absolute;
         top: 40%;
         left: 20px;

      }


      &::before {
         content: '';
         position: absolute;
         width: 8px;
         height: 133px;
         background: #718176;
         right: 0;
         top: 0;

         @include mq (xl) {
            display: none;

         }

      }

      @media (max-width:455px) {
         display: none;
      }
   }

   &__block-desc {
      max-width: 450px;
      width: 100%;
      padding-left: 20px;

      @include mq (xl) {
         max-width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0;
      }
   }

   &__text {
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-700);
      font-size: var(--text-18);
      line-height: var(--lh-27);
      color: var(--gray-950);
      margin-bottom: 28px;


   }

   &__circle-text {}

   &__title {
      font-family: var(--Bai-Jamjuree-ss);
      font-weight: var(--fw-700);
      font-size: var(--text-60);
      line-height: var(--lh-70);
      letter-spacing: -0.02em;
      text-transform: capitalize;
      color: var(--black-500);
      margin-bottom: 42px;

      @include mq (xl) {
         text-align: center;
         font-size: var(--text-52);
         line-height: var(--lh-62);
      }
   }

   &__btn {
      max-width: 160px;
      width: 100%;
      padding: 21px 0px;
      display: flex;
      justify-content: center;
      background-color: var(--orange-1000);
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-500);
      font-size: var(--text-16);
      line-height: var(--lh-16);
      color: var(--gray-950);
      color: white;
   }

   &__card-w {
      width: 591px;

      position: relative;

      @include mq (xl) {
         width: 100%;
      }
   }

   &__card-img {
      position: absolute;
      top: -100px;
      left: -73px;

      @include mq (xl) {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
      }
   }
}

.footer {
   width: 100%;
   padding: 133px 0px 39px;

   @include mq (lg) {
      padding: 35px 0px 10px;
   }

   &__inner {
      max-width: 1130px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      position: relative;

      @include mq (lg) {
         padding: 0 15px;
      }
   }

   &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 83px;

      @include mq (lg) {
         margin-bottom: 30px;
      }
   }

   &__top-start-items {}

   &__nav {}

   &__nav-list {
      @include mq (lg) {
         flex-direction: column;
      }
   }

   &__nav-list-item {
      &:not(:last-child) {
         margin-right: 60px;

         @include mq (xl) {
            margin-right: 30px;
         }

         @include mq (lg) {
            margin-right: 0;
            margin-bottom: 10px;
         }
      }
   }

   &__nav-item-link {}

   &__logo {
      padding-right: 50px;

      @include mq (xl) {
         padding-right: 30px;
      }

      @include mq (sm) {
         position: absolute;
         top: -30px;
         left: 50%;
         transform: translateX(-50%);
      }
   }

   &__top-end-items {
      display: flex;
      align-items: center;

      @include mq (lg) {
         flex-direction: column;
      }
   }

   &__btns-action {
      margin-right: 61px;

      @include mq (lg) {
         margin-right: 0px;
         margin-bottom: 10px;
      }
   }

   &__btn {
      background-color: transparent;
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-700);
      font-size: var(--text-14);
      line-height: var(--lh-20);
      color: var(--gray-900);

      &:not(:last-child) {
         margin-right: 47px;

         @include mq (lg) {
            margin-right: 10px;
         }
      }
   }

   &__socials {
      display: flex;
      align-items: center;
   }

   &__social-link {
      display: flex;
      align-items: center;

      &:not(:last-child) {
         margin-right: 29px;
      }
   }

   &__social-icon {}

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mq (md) {
         flex-direction: column;
      }
   }

   &__bottom-text {
      min-width: 180px;
      font-family: 'Roboto', sans-serif;
      font-weight: var(--fw-400);
      font-size: var(--text-12);
      line-height: var(--lh-24);
      color: #7B827D;
      text-align: end;

      @include mq (md) {
         width: auto;
         text-align: center;
      }


      &--type-copyright {
         color: rgba(27, 27, 27, 0.35);
      }
   }

   &__bottom-line {
      padding: 0px 50px 0px 20px;
      max-width: 661px;
      width: 100%;
      height: 2px;
      background-color: rgba(86, 91, 88, .5);
      margin-left: 35px;

      @include mq (md) {
         display: none;
      }
   }
}