.block-hotter {
   max-width: 225px;
   width: 100%;
   height: 154px;

   @include mq (xl) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-bottom: 30px;
   }

   &__title {
      font-family: var(--Bai-Jamjuree-ss);
      font-weight: var(--fw-700);
      font-size: var(--text-35);
      line-height: var(--lh-42);
      color: var(--black-400);
      margin-bottom: 18px;
      position: relative;
      display: inline-block;

      @include mq (xl) {
         text-align: center;
      }


      &::before {
         content: '';
         position: absolute;
         background: url(/src/img/burning.svg) no-repeat;
         height: 80px;
         width: 80px;
         top: -19px;
         left: 45px;

         @include mq (xl) {
            left: -50px;
         }

         @include mq (sm) {
            display: none;
         }
      }
   }

   &__text {
      font-family: var(--roboto-ss);
      font-weight: var(--fw-400);
      font-size: var(--text-16);
      line-height: var(--lh-26);
      letter-spacing: 0.01em;
      color: var(--gray-800);

      @include mq (xl) {
         text-align: center;
      }

   }
}

@include mq (xl) {
   br {
      display: none;
   }
}